header {
   background-color: #ffffff;
   color:#6c6c6b;
   text-align: center;
}

li {
   list-style-type:none;
}

.grupo-fotos {
   display: flex;
   justify-content:space-between;
}

img {
   width: 225px;
}

.banner{
   width: 900px;
   text-align: center;
}
